{% extends 'ptkbase.html' %}
{% from 'fields.html' import fieldText, fieldGroup, serviceLI %}

{% block headeractions %}
 <a href="services" class="inline-flex justify-center gap-2 items-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
    <i class="bi bi-hdd-stack-fill"></i>
    Services
  </a>
   <a href="edit" class="inline-flex justify-center gap-2 items-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
    <i class="bi bi-pencil"></i>
    Edit
  </a>
{% endblock %}

{% block headertitle %}
  <span class="text-gray-400 dark:text-gray-500">/</span>
  <h1 class="text-lg">{{ stack.label }}</h1>
{% endblock %}

{% block pagecontent %}
  <div class="border-b flex flex-col border-gray-200 bg-gray-50 dark:border-gray-800 dark:bg-gray-950 p-4 sm:p-6 lg:p-8 sm:flex-row sm:items-center sm:justify-between">
    <div class="p-4 sm:p-6 lg:p-8 flex w-full">
      <form class="w-full flex" action="#" method="POST">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 w-full">
          <div id="services" class="bg-white flex flex-col w-full p-6 dark:bg-gray-900 shadow-sm ring-1 ring-gray-900/5 dark:ring-gray-800 sm:rounded-xl">
            <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-50">Services</h3>

            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 my-4">
              {% for service in stack.services %}
                {{ serviceLI(service) }}
              {% endfor %}
            </ul>
          </div>
          {% for command in stack.commands %}
            <div id="command-{{ command.name }}" class="bg-white flex w-full dark:bg-gray-900 shadow-sm ring-1 ring-gray-900/5 dark:ring-gray-800 sm:rounded-xl">
              <div class="p-6 w-full flex flex-col gap-4">
                <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-gray-50">{{ command.label }}</h3>
                <div class="mt-4 space-y-4">
                  {% for field in command.args %}
                    {{ fieldText(field.label, field.name, field.value) }}
                  {% endfor %}
                </div>
                <button type="submit" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Execute</button>
              </div>
            </div>
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
  <!-- END page content -->
{% endblock %}
